.main {
  height: 500px;
  background-color: rgba(26, 81, 99, 255);
  position: relative;
}

.main-left {
  display: flex;
  flex-direction: column;
  text-align: start;
  position: absolute;
  top: 100px;
  left: 100px;
  width: 60%;
}

.main-left h1 {
  font-weight: 500;
  color: white;
  font-size: 35px;
  width: 600px;
  height: 100px;
}

.main-left p {
  font-weight: bold;
  color: white;
  font-size: 20px;
}

.main-button-left {
  background-color: #fc9b8b;
  color: white;
  width: 150px;
  border: 1px solid #FC9B8B;
  border-radius: 5px;
  height: 35px;
}

.main-button-left:hover {
  background-color: #FC745F;
  color: white;
  border: 1px solid #FC9B8B;
}

.main-right {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 40%;
}

.border-header {
  position: relative;
  width: 330px;
  height: 400px;
  top: 0px;
  left: 100px;
  border: 1px double #B14802;
  box-sizing: content-box;
  border-radius: 250px 250px 0px 0px;
}

.img-right {
  bottom: -18px;
  position: absolute;
  width: 300px;
  height: 430px;
  margin-left: 80px;
  border-radius: 250px 250px 10px 10px;
}

.sobre-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 85px;
  margin-bottom: 180px;
}

.sobre-left h2 {
  color: #fc9b8b;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-top: 20px;
  /*padding: 20px, 0, 40px, 100px;*/
}



.sobre-left p {
  margin-top: 20px;
  font-weight: 600;
  color: rgba(26, 81, 99, 255);
  font-size: 14px;

}

.sobre-left p {
  margin-top: 40px;
  font-size: 14px;
}


.h5 {
  border-left: 3px solid #fc745f;
  height: 100px;
}

.h5 h3 {
  font-weight: 500;
  color: rgba(26, 81, 99, 255);
  margin-left: 10px;
}

.five {
  position: absolute;
  border-style: solid;
  border-width: 20px;
  border-color: #d5d2d2;
  border-radius: 100%;
  width: 250px;
  height: 250px;
  right: 15px;
  bottom: -250px;
}

.dados-ongs {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 700px;
  right: 300px;
  background-color: #fc9b8b;
  color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 0px 0px #f0efef, 10px 10px 0px 0px;
  box-shadow: 5px 5px 0px 0px #f0efef, 10px 10px 0px 0px;
}

.texts {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.texts h5 {
  font-weight: bold;
  font-size: 15px;
  margin-top: 15px;
}

.texts .i {
  margin-top: 10px;
}

.dados-ongs-two {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 627px;
  right: 100px;
  background-color: #fff;
  color: rgba(26, 81, 99, 255);
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 0px 0px #f0efef, 10px 10px 0px 0px;
  box-shadow: 5px 5px 0px 0px #f0efef, 10px 10px 0px 0px;
}

.dados-ongs-three {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 800px;
  right: 150px;
  background-color: #fff;
  color: rgba(26, 81, 99, 255);
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 0px 0px #f0efef, 10px 10px 0px 0px;
  box-shadow: 5px 5px 0px 0px #f0efef, 10px 10px 0px 0px;
}

.h5 h3 {
  margin-top: 10px;
  font-size: 20px;
}

.dados-ongs {
  right: 200px;
}

.dados-ongs-two {
  right: 30px;
}

.dados-ongs-three {
  right: 60px;
}