.container {
  background: linear-gradient(45deg, rgba(26, 81, 99, 255), rgba(26, 81, 99, 255));
  margin-bottom: 10rem;
  font-family: 'Baloo 2', "roboto";
  font-style: normal;
  color: #ffff;
  padding-bottom: 6rem;
}
.title {
  padding: 8rem 0 5rem 0;
  text-align: center;
  font-weight: 500;
}
.text {
  text-align: justify;
  padding-bottom: 6rem;
  margin: 0 10rem 50rem 10rem;
  font-weight: 300;
  line-height: 1.8;
  color: rgba(26, 81, 99, 255);
  font-size: 19px;
}
span {
  color: #FC9685;
  font-size: 19px;
}
.balao {
  background-color: #ffff;
  border-top: 20px;
  padding: 25px 25px 25px 25px;
  border-radius: 15px;
  margin-top: 20px;
  text-align: justify;
}
@media (max-width: 720px) {
  .text {
    margin: 0 2rem 0 2rem;
  }
}