@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;800&family=Roboto:wght@400;700&display=swap');

:root {
   --azul-escuro: #1a5163;
   --azul-claro: #e1eff3;
   --laranja-rosa: #fc9685;
   --cinza-paragraph: #686868;

   --fonte-baloo-2: 'Baloo 2', cursive;
   --fonte-roboto: 'Roboto', sans-serif;
}

* {
   box-sizing: border-box;
   border: 0;
   outline: 0;
   padding: 0;
   margin: 0;
   text-decoration: none;
}

/* 
------------------------------------------------------
HEADER
------------------------------------------------------
*/

#header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: var(--azul-escuro);
   color: #ffffff;
   height: 35px;
   width: 100%;
   padding-inline: 10px;
   position: fixed;
   top: 0;
   z-index: 200;
   overflow: overlay;
}

/* LOGIN */

#login {
   display: flex;
   align-items: center;
   display: none;
}

#login > a {
   font-family: var(--fonte-roboto);
   font-size: 1rem;
   color: var(--laranja-rosa);
}

#login > a:hover {
   color: var(--laranja-rosa);
   transition: color 0.3s;
}

#login > button {
   background-color: var(--laranja-rosa);
   width: 125px;
   height: 35px;

   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
   border-radius: 10px;

   margin-left: 10px;
}

#login > button:hover {
   background-color: var(--laranja-rosa);
   transition: background-color 0.3s;
}

#login > button > a {
   font-family: var(--fonte-roboto);
   color: #ffffff;
   font-size: 1rem;
   font-weight: 400;
   letter-spacing: 0.1rem;
}

/* NAVBAR */
#nav {
   display: none;
}

/* MENU */
#menu {
   list-style: none;
   color: #ffffff;
   font-family: var(--fonte-roboto);
   font-weight: 700;
   font-size: 1rem;
   letter-spacing: 0.1em;
   position: relative;
   bottom: 45px;
}

#menu a {
   color: #ffffff;
}

#menu a:visited {
   color: inherit;
}

#header.on #nav {
   display: flex;
   flex-direction: column;
   text-align: center;
   justify-content: center;
   position: fixed;
   top: 35px;
   right: 0;
   background-color: var(--azul-escuro);
   line-height: 15vh;
   height: calc(100vh + 35px);
   width: 100vw;
   overflow-y: hidden;
}

#header.on #login {
   display: flex;
   justify-content: center;
}

/* MENU HANBURGER */
#btn-mobile {
   background: none;
   cursor: pointer;
}

#btn-mobile-x {
   background: none;
   display: none;
   cursor: pointer;
}

#header.on #btn-mobile img {
   display: none;
}

#header.on #btn-mobile-x {
   display: inline;
   position: relative;
   right: 2px;
}

/* JAVASCRIPT */
#login.logado {
   flex-direction: row;
   justify-content: center;
}

#login.logado #entrar {
   margin-left: 10px;
}

.active {
   color: var(--laranja-rosa) !important;
}

a {
   text-decoration: none;
}

/* 
------------------------------------------------------
RESPONSIVIDADE HEADER
------------------------------------------------------
*/
/* 
650px a 768px - MOBILE L/TABLET
*/

@media (min-width: 650px) {
   #header {
      height: 40px;
   }

   #menu {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-size: 0.7rem;
      bottom: 0;
      margin-left: auto;
      margin-right: auto;
   }

   #btn-mobile {
      display: none;
   }

   #menu li {
      margin: 0 7px;
   }

   #nav {
      width: calc(100% - 123px);
      justify-content: space-between;
      align-items: center;
   }

   #nav,
   #login {
      display: flex;
   }

   #login.logado #entrar {
      margin-left: 0;
      font-size: 0.9rem;
   }

   #login.logado #cadastrar {
      margin-left: 0;
      font-size: 0.9rem;
   }

   #login > button {
      margin-left: 5px;
      width: 100px;
   }

   #header > #login > a:hover {
      color: #fc745f;
      transition: color 0.3s;
   }

   #header > #login > button:hover {
      background-color: #fc745f;
      transition: background-color 0.3s;
   }
}

/* 
RESPONSIVIDADE - 769px a 1024px - Desktop HD
*/

@media (min-width: 769px) {
   #menu {
      font-size: 1.4rem;
      gap: 2vw;
   }

   #login > a {
      font-size: 1.4rem;
   }

   #login > button {
      height: 35px;
      width: 115px;
   }

   #login > button > a {
      font-size: 1.4rem;
   }
}

/* 
------------------------------------------------------
FOOTER
------------------------------------------------------
*/

footer {
   width: 100%;
}

footer > div.stroke {
   background-color: #1a5163;
   height: 0.3px;
   width: 95vw;
   margin: auto;
}

footer > div.footer-menu {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   margin-block: 1.25rem;
   gap: 1.25rem;
}

footer nav {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

footer .footer-menu nav h3,
footer .footer-menu nav .veja-mais h3 {
   font-family: var(--fonte-roboto);
   font-weight: 700;
   font-size: 0.75rem;
   line-height: 1.375rem;
   color: var(--azul-escuro);
   text-align: center;
}

#veja-mais-2 {
   display: none;
}

footer .footer-menu nav ul li a {
   font-family: var(--fonte-roboto);
   font-weight: 400;
   font-size: 0.75rem;
   line-height: 1.375rem;
   color: var(--azul-escuro);
}

footer ul {
   list-style: none;
}

footer .footer-menu nav ul li {
   text-align: center;
}

footer .footer-menu nav:nth-child(3) ul {
   display: flex;
   gap: 0.625rem;
}

footer .bottom-footer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 0.625rem;

   margin: 0.938rem 0.625rem;
   text-align: center;
}

.bottom-footer #com-amor {
   font-family: var(--fonte-roboto);
   font-weight: 400;
   font-size: 0.5rem;
   line-height: 0.563rem;
   letter-spacing: 0.063rem;
}

.bottom-footer #com-amor img {
   position: relative;
   top: 0.188rem;
}

.bottom-footer #copy {
   font-family: var(--fonte-baloo-2);
   font-weight: 400;
   font-size: 0.5rem;
   line-height: 0.625rem;
}

/* 
------------------------------------------------------
RESPONSIVIDADE FOOTER
------------------------------------------------------
*/

/* 
650px a 768px - MOBILE L/TABLET
*/

@media (min-width: 650px) {
   footer div.footer-menu {
      flex-direction: row;
      align-items: center;
      margin-block: 0rem;
      gap: 3rem;
   }

   .footer-menu #flex-nav-1 {
      display: flex;
      flex-direction: row;
      gap: 3rem;
   }

   footer .footer-menu nav #veja-mais-2 {
      display: block;
      text-align: center;
   }

   footer .footer-menu nav:nth-child(3) ul {
      display: flex;
      flex-direction: column;
      margin-block: 5px;
   }

   #redes-footer  li a img {
      position: relative;
      top: 3px;
   }
}

/* 
RESPONSIVIDADE - 769px a 1024px - Desktop HD
*/

@media (min-width: 769px) {
   footer div.footer-menu {
      gap: 10vw;
   }

   .footer-menu #flex-nav-1 {
      gap: 10vw;
   }
}

/* 
RESPONSIVIDADE - 376px a 650px - MOBILE L
*/

@media (min-width: 376px) {
   section.blue-index {
      height: 235px;
   }

   section.blue-index > div.title > h1 {
      font-size: 26px;
   }

   section.blue-index > div.title > h2 {
      font-size: 20px;
   }

   section.blue-index > div.title > p {
      font-size: 15px;
   }

   section.blue-index > div.search {
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      height: 33px;
   }

   .pet > form > select,
   .estado > form > select,
   .tamanho > form > select {
      font-size: 12px;
      border-radius: 6px;
   }
}

/* 
RESPONSIVIDADE - 650px a 768px - MOBILE L/TABLET
*/

@media (min-width: 650px) {
   section.blue-index {
      height: 300px;
   }

   section.blue-index > h1 {
      font-size: 40px;
   }

   section.blue-index > h2 {
      font-size: 28px;
   }

   section.blue-index > p {
      font-size: 19px;
   }
}

/* 
RESPONSIVIDADE - 769px a 1024px - Desktop HD
*/

@media (min-width: 769px) {
   #menu {
      font-size: 1rem;
      gap: 2vw;
   }

   #login > a {
      font-size: 1rem;
   }

   #login > button {
      height: 35px;
      width: 115px;
   }

   #login > button > a {
      font-size: 1rem;
   }

   section.blue-index {
      height: 340px;
   }

   section.blue-index > h1 {
      font-size: 45px;
   }

   section.blue-index > h2 {
      font-size: 32px;
   }

   section.blue-index > p {
      font-size: 20px;
   }
}
