* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
}

.top-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #1a5163; 
    align-items: center;
}

.top-container h1{
    width: 60%;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 31.5px;
    letter-spacing: 10%;
    color: #FC9685;
}

.top-container p{
    color: #fff;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    letter-spacing: 0.1em;
}

.form-home{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a5163;
    width: 100%;
}

.search-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
    border: 1px solid  white;
    border-radius:5px ;
    background-color: #1a5163;
    width: 140px;
    max-width: 140px;
    height: 23px;
}

.search-box img{
    margin-right: 5px;
}

/* Middle Container */
.middle-container{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pet-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-self: flex-start;
    margin-top: 40px;
    width: 90%;
    /* max-width: 366px; */
    height: 300px;
    background-color: #E1EFF3;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;    
}

.pet-text-container p{
    width: 90%;
    color: #1A5163;
    padding-left: 10px;
    letter-spacing: 0.1em;
}

.pet-text-container .p1 {
    font-size: 25px;
    font-weight: bold;
    line-height: 25px;
    text-align: left;
}

.pet-text-container .p2 {
    font-size: 17px;
    line-height: 22px;
}

.pet-img-container {
    margin-top: 20px;
}

.petAmigo {
    color: #FC9685;
}

.star, .star2 {
    height: 15px;
    width: 15px;
}

.star {
    position: relative;
    left: 85%;
    top: -350px;
}

.star2 {
    position: relative;
    top: -300px;
    left: 10px;
}

.trust-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1a5163;
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    width: 80%;
    border-radius: 0px 0px 130px 130px;
    max-width:340px;
    height:360px; 
}

.p-trust-star {
    padding-top: 35px;
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 0.1em;
}

.p-trust-star img {
    margin-right: 10px;
}

.p-trust {
    width: 80%;
    padding: 15px 0;
    font-size: 15px;
}

.p-trust-4 {
   text-align: center;
}

.p-trust-4 img {
    transform: translateY(8px);
    padding-left: 10px;   
}

.p-trust-4 a:visited {
    color: inherit;
}

.color {
    color: #FC9685;
}

.parceiros {
   margin: 30px 0;
   align-self: flex-end;
   width: 90%;
   background-color: #E1EFF3;
   height: 250px;
   display: flex;
   justify-content: center;
   border-radius: 500px 0px 0px 500px;
}

.parceiros-p {
    margin-top: 40px;
    font-size: 25px;
    font-weight: bold;
    line-height: 25px;
    letter-spacing: 0.1em;
    color:#1a5163
}

.feedback-title {
    text-align: center;
    color: #1A5163;
    line-height: 25px;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.feedback {
    width: 90%;
    height: 120px;
    background: #1A5163;
    border-radius: 150px;
    margin: 20px auto;
    display: flex;
}

.feedback-content {
    color: #fff;
    padding: 0.8rem;
    /* margin-left: 0.8rem; */
}

.feedback-author, .feedback-date {
    font-size: 12px;
}

.form-home{
    background-color:#1a5163;
}

@media (min-width: 650px){
    .top-container {
        height: 200px;
        justify-content: center;
    }

    .top-container h1 {
        font-size: 30px;
        font-weight: bold;
        line-height: 38px;
        letter-spacing: 0.05em;
    }

    .top-container p {
        font-weight: bold;
    }

    .form-home {
        flex-direction: row;
        align-items: flex-end;
    }

    .form-home .container, .form-home .search-container {
        background-color: rgba(225, 239, 243, 0.6);
    }

    .form-home .pet {
        border-radius: 15px 0px 0px 0px;
    }

    .search-container {
        display: flex;
        align-items: flex-end;
        height: 95px;
        border-radius: 0px 15px 0px 0px;
    }

    .search-box {
        height: 40px;
        margin-bottom: 13px;
    }

    .pet-text-container {
        height: 400px;
        width: 60%;
        position: absolute;
    }

    .pet-text-container p {
        padding-left: 40px;
    }

    .middle-container {
       display: block;
       position: relative;
       margin-top: 80px;
    }

    .parceiros {
        display: none;
    }

    .pet-img-container {
        position: absolute;
        right: 0;
    }

    .pet-img-container .dog {
        height: 400px;
    }

    .trust-container {
        display: none;
        position: absolute;  
        left: 45%;
        top: 40px;
        width: 250px;
        height: 300px;
        font-size: 10px;
    }

    .p2 {
        max-width: 450px;
    }

    .feedback {
        width: 40%;
    }
    
    .feedback-title {
       margin-top: 570px;
    }
    
    .p-trust-star {
        padding-top: 10px;
        padding-bottom: 0px;
    }

    .p-trust {
        padding: 5px 0; 
    }   
}

@media (min-width: 750px) {
    .form-home {
        flex-direction: row;
        align-items: flex-end;
        padding: 0 50px;
    }
}

@media (min-width: 1200px) {
    .trust-container {
        display: flex;
    }
}