.title h1 {
   font-weight: bold;
   font-size: 1.8rem;
   text-align: center;
   letter-spacing: 10%;
   color: var(--azul-escuro);
   padding-top: 4rem;
}

.dados-animal-editar {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
}

.dados-animal-editar .ficha {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 1rem;

   margin: 3.5rem 2rem;
   width: 50%;
   max-width: 300px;
}

.dados-animal-editar .ficha img {
   display: flex;
   flex-direction: column;
   gap: 15px;

   width: 9rem;
   height: 9rem;
}

.ficha .dados {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   gap: 0.6rem;
}

.ficha .dados .campo label {
   font-size: 1.2rem;
   line-height: 1.9rem;
   text-align: left;
   letter-spacing: 10%;
   font-weight: bold;
   color: #1a5163;
}

.ficha .dados .campo .dado {
   border: 0.5px solid var(--azul-escuro);
   display: flex;
   align-items: center;
   padding: 0.5rem;
   width: 25rem;
   height: 2.5rem;
   border-radius: 5px;
   color: var(--cinza-paragraph);
   font-family: var(--fonte-roboto);
   font-size: 1.2rem;
   font-weight: lighter;
   line-height: 1.4rem;
}

#btn-salvar,
#btn-excluir {
   align-self: center;
   color: white;
   border-radius: 5px;
   width: 10rem;
   height: 2.5rem;
   font-size: 1.2rem;
   line-height: 1.6rem;
   letter-spacing: 5%;
   font-weight: 700;
   cursor: pointer;
}

#btn-salvar {
   background-color: var(--laranja-rosa);
   margin-top: 1.8rem;
}

#btn-excluir {
   background-color: var(--azul-escuro);
   margin-top: 0.2rem;
}

#btn-excluir a {
   color: #fff;
   text-decoration: none;
}

@media (min-width: 576px) {
   .dados-animal-editar {
      flex-direction: row;
      flex-wrap: wrap;
   }

   main .ficha {
      margin: 5rem 0;
   }

   .ficha .dados .campo .dado {
      width: 20rem;
   }
}
