.title h1 {
   font-weight: bold;
   font-size: 1.8rem;
   text-align: center;
   letter-spacing: 10%;
   color: var(--azul-escuro);
   padding-top: 4rem;
}

.dados-animais-ong {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
}

.dados-animais-ong .ficha {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 1rem;
   margin: 3.5rem 2rem;
   width: 50%;
   max-width: 300px;
}

.dados-animais-ong .ficha img {
   display: flex;
   flex-direction: column;
   gap: 15px;
   width: 9rem;
   height: 9rem;
   border-radius: 20%;
}

.ficha .dados {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   gap: 0.6rem;
}

.ficha .dados .campo label {
   font-family: var(--fonte-baloo-2);
   font-weight: bold;
   font-size: 1.2rem;
   line-height: 1.9rem;
   text-align: left;
   letter-spacing: 10%;
   color: #1a5163;
}

.ficha .dados .campo .dado {
   border: 0.5px solid var(--azul-escuro);
   display: flex;
   align-items: center;
   padding: 0.5rem;
   width: 25rem;
   height: 2.5rem;
   border-radius: 5px;
   color: var(--cinza-paragraph);
   font-family: var(--fonte-roboto);
   font-size: 1.2rem;
   font-weight: lighter;
   line-height: 1.4rem;
}

.ficha .editar {
   align-self: center;
   margin-top: 1.8rem;

   background-color: var(--laranja-rosa);
   color: white;

   border-radius: 10px;
   width: 10rem;
   height: 2.5rem;

   font-family: var(--fonte-roboto);
   font-size: 1.2rem;
   line-height: 1.6rem;
   letter-spacing: 5%;
   font-weight: 700;

   cursor: pointer;
}

.ficha .dados a {
   align-self: center;
}

@media (min-width: 576px) {
   .dados-animais-ong {
      flex-direction: row;
      flex-wrap: wrap;
   }

   main .ficha {
      margin: 5rem 0;
   }

   .ficha .dados .campo .dado {
      width: 20rem;
   }
}