* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
}

    /* HEADER */

   #header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #1a5163;
        color: #ffffff;
        height: 45px;
        width: 100%;
        position: fixed;
        z-index: 999;
    }

    /* LOGO */
    #logo {
        display: flex;
        align-items: center;
        font-family: 'Baloo 2', cursive;
        font-size: 10px;
        margin-left: 10px;
    }

    #logo > a, span{
        margin-left: 5px;   
    }
    
    #logo > a > img {
        width: 25px;
    }
    
    
    #logo h2{
       display: inline-block;
       vertical-align:top;
    }

    
    /* LOGIN */

    #login {
        display: flex;
        align-items: center;
        display: none;
    }
  
    #login > a {
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        color: #fc9685;
    }
  
    #login > a:hover {
        color: #fc745f;
        transition: color 0.30s;
    }
    
    #login > button {
        height: 30px;
        width: 110px;
        border-radius: 5px;
        background-color: #fc9685;
        margin-left: 10px;
    }
  
    #login > button:hover {
        background-color: #fc745f;
        transition: background-color 0.30s;
    }
  
    #login > button > a {
        font-family: 'Roboto', sans-serif;
        color: #ffffff;
        font-size: 12px;
        font-weight: bold;
        
    }

    /* NAVBAR */
    #nav{
        display: none;
    }

    /* MENU */
    #menu{
        list-style: none;
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 13px;
        /* display: none; */
    }
    
    #menu a:visited{
        color:inherit;
    }
    
    #header.on #nav{
        display: flex;
        position: absolute;
        background-color: #1a5163;
        top:44px;
        flex-direction: column;
        line-height: 15vh;
        right:0;
        height: calc(100vh - 45px);
        width: 100%;
        text-align: center;
        justify-content: center;
    }
    
    #header.on #login{
        display: flex;
       margin-left: 30%;
    }

    /* MENU HANBURGER */
    #hamburger{
        width:20px;
        border-top:2px solid #FC9685;
        color:#FC9685;
        background-color: #1a5163;
        position: absolute;
        right: 10px;
        top:15px;
    }
    #hamburger::after, #hamburger::before {
        content: '';
        width:20px;
        height: 2px;
        background-color: currentColor;
        display: block;
        margin-top: 5px;
        border-radius: 10px;
        transition: .1s ease;
        position: relative;
    }

    #header.on #hamburger{
        border-top-color:transparent;
        top:8px;
    }
    #header.on #hamburger::before{
       transform: rotate(135deg);
       top:7px
    }
    #header.on #hamburger::after{
       transform: rotate(-135deg);
       
    }

    /* JAVASCRIPT */
    #login.logado{
       flex-direction: row-reverse;
       margin-right:30%;
    }

    #login.logado #entrar{
        margin-left: 10px;
    }

    .active {
        color: #fc9685 !important;
    }