<footer>
   <!-- linha de separação -->
   <div class="stroke"></div>

   <div class="footer-menu">
      <!-- flex 1 -->
      <nav id="flex-nav-1">
         <div class="veja-mais">
            <h3 id="veja-mais-1">Veja mais</h3>
            <ul>
               <li><a href="#">Como funciona</a></li>
               <li><a href="#">Perguntas Frequentes</a></li>
            </ul>
         </div>
         <div class="veja-mais">
            <h3 id="veja-mais-2">Veja mais</h3>
            <ul>
               <li><a href="#">Política de desistência</a></li>
               <li><a href="#">Termos e Condições</a></li>
            </ul>
         </div>
      </nav>
      <!-- flex 2 -->
      <nav>
         <h3>Tudo sobre a PetAmigo</h3>
         <ul>
            <li><a href="#">Sobre nós</a></li>
         </ul>
      </nav>
      <!-- flex 3 -->
      <nav>
         <ul>
            <li>
               <a href="#"><img src="/images/Facebook.svg" alt="" /></a>
            </li>
            <li>
               <a href="#"><img src="/images/Instagram.svg" alt="" /></a>
            </li>
            <li>
               <a href="#"><img src="/images/Whatsapp.svg" alt="" /></a>
            </li>
         </ul>
      </nav>
   </div>
   <!-- linha de separação -->
   <div class="stroke"></div>

   <div class="bottom-footer">
      <!-- bottom-footer flex 1 -->
      <a href="#"><img src="/images/logo_logoPata.svg" alt="Logo PetAmigo" /></a>
      <!-- bottom-footer flex 2 -->
      <p id="com-amor">
         Feito com <img src="/images/heart.svg" alt="Coração" /> por Álvaro,
         Camila, Giancarlo, Hélder, Mariana e Micheli
      </p>
      <!-- bottom-footer flex 3 -->
      <p id="copy">
         Copyright 2021. Todos os direitos reservados. Termos, Condicoes,
         Privacidade e Politicas de Cookies
      </p>
   </div>
</footer>