
 <footer>
    <div class="footer-menu">
        <!-- flex 1 -->
        <nav>
            <h3>Veja mais</h3>
            <ul>
                <li><a href="/comofunciona">Como funciona</a></li>
                <li><a href="faq">FAQ para adoção de Pet</a></li>
                <li><a href="politica">Política de devoluções</a></li>
            </ul>
        </nav>
        <!-- flex 2 -->
        <nav>
            <h3>Tudo sobre a PetAmigo</h3>
            <ul>
                <li><a href="/historia">Nossa história</a></li>
                <li><a href="/ajuda">Ajuda</a></li>
                <li><a href="/pagamentos">Métodos de pagamento</a></li>
            </ul>
        </nav>
        <!-- flex 3 -->
        <nav>
            <h3>Conecte-se conosco</h3>
            <ul>
                <li><a href="">Facebook</a></li>
                <li><a href="">Twitter</a></li>
                <li><a href="">Instagram</a></li>
            </ul>
        </nav>
    </div>
    

    <!-- linha de separação -->
    <div class="stroke"></div>
    

    <div class="bottom-footer">
        
        <!-- bottom-footer flex 1 -->
        <img src="/images/pata-logo.svg" alt="">

        <!-- bottom-footer flex 2 -->
        <span>PetAmigo</span>

        <!-- bottom-footer flex 3 -->
        <p>Copyright 2021. Todos os direitos reservados. Termos, Condicoes, Privacidade e Politicas de Cookies</p>
    
    </div>   
</footer>
 
 