
    <header>
        <nav class="logo">
           
                <a href="/">
                    <img src="./images/pata-logo.svg" alt="logo">
                </a>
                <span>PetAmigo</span>  
         
        </nav>

        <nav class="main-menu">
            <a href="/" id="inicio">Início</a>
            <a href="/services" id="services">Nossos Serviços</a>
            <a href="/about" id="about">Sobre Nós</a>
            <a href="/contato" id="contato">Contato</a>
        </nav>

        <nav class="login">
            <a href="/login">ENTRAR</a>

            <button type="button">
                <a href="">CADASTRE-SE</a>
            </button>
        </nav>

        <img src="./images/ham-menu.svg" alt="">
    </header>