
    <header id="header">
        <!-- LOGO -->
        <nav id="logo">
                <a href="/">
                    <img src="./images/pata-logo.svg" alt="logo">
                </a>
                <span>PetAmigo</span>  
        </nav>

        <!-- NAV-BAR -->
        <nav id="nav">
            <ul id="menu">
            <li><a href="/" id="inicio">Início</a></li>
            <li> <a href="/comoFunciona" id="comofunciona">Como Funciona</a></li>
            <li><a href="/about" id="about">Sobre Nós</a></li>
            <li><a href="/contato" id="contato">Contato</a></li>
        </ul>
        <!-- BOTÃO  -->
        <div id="login">
            <a id="entrar" href="/login">Entrar</a>

            <button  type="button">
                <a id="cadastrar" href="/signuppf">Cadastre-se</a>
            </button>
        </div>
        </nav>

        <!-- MENU HAMBURGER-->
        <button id="btn-mobile">
            <div id="hamburger"></div>
        </button>
        
        
        
        
       
    </header>