<div class="container">
  <div class="pet-name">
    <p>Localizacao</p>
  </div>
  <div class="select-box">
    <select id="UF" name="estado" class="selected">
      <option value="">游뛀 Selecionar</option>
      <option value="AC">游뛀 Acre</option>
      <option value="AL">游뛀 Alagoas</option>
      <option value="AP">游뛀 Amap치</option>
      <option value="AM">游뛀 Amazonas</option>
      <option value="BA">游뛀 Bahia</option>
      <option value="CE">游뛀 Cear치</option>
      <option value="DF">游뛀 Distrito Federal</option>
      <option value="ES">游뛀 Espirito Santo</option>
      <option value="GO">游뛀 Goi치s</option>
      <option value="MA">游뛀 Maranh칚o</option>
      <option value="MS">游뛀 Mato Grosso do Sul</option>
      <option value="MT">游뛀 Mato Grosso</option>
      <option value="MG">游뛀 Minas Gerais</option>
      <option value="PA">游뛀 Par치</option>
      <option value="PB">游뛀 Para칤ba</option>
      <option value="PR">游뛀 Paran치</option>
      <option value="PE">游뛀 Pernambuco</option>
      <option value="PI">游뛀 Piau칤</option>
      <option value="RJ">游뛀 Rio de Janeiro</option>
      <option value="RN">游뛀 Rio Grande do Norte</option>
      <option value="RS">游뛀 Rio Grande do Sul</option>
      <option value="RO">游뛀 Rond칪nia</option>
      <option value="RR">游뛀 Roraima</option>
      <option value="SC">游뛀 Santa Catarina</option>
      <option value="SP">游뛀 S칚o Paulo</option>
      <option value="SE">游뛀 Sergipe</option>
      <option value="TO">游뛀 Tocantins</option>
    </select>
  </div>
</div>