* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
}


/* .teste1{
    font-family: 'Baloo 2', cursive;
}

.teste2{
    font-family: 'Roboto', sans-serif;
} */

/* 
------------------------------------------------------
HEADER - STYLES
------------------------------------------------------
*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1a5163;
    color: #ffffff;
    height: 45px;
    width: 100%;
    position: fixed;
    z-index: 10;
}

header > nav.main-menu > a:hover {
    color: #fc9685;
}

header > nav.main-menu, nav.login {
    display: none;
}

header > nav.logo {
    display: flex;
    align-items: center;
    font-family: 'Baloo 2', cursive;
    font-size: 10px;
    margin-left: 10px;
}

header > nav.logo > a, h2 {
    margin-left: 5px;
    
}

header > nav.logo > a > img {
    width: 25px;
}

img {
    width: 20px;
    margin-right: 10px;
}

.active {
    color: #fc9685 !important;
}


/* 
------------------------------------------------------
SECTION - STYLES
------------------------------------------------------
*/

section.blue-index {
    background-color: #1a5163;
    width: 100%;
    height: 200px;
}

section.blue-index > div.dog-contact {
    display: none;
}

section.blue-index > div.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 50px;
}

input:focus, textarea:focus {
    outline: 2px solid #1a5163;
}

section.blue-index > div.formulario > h1, p {
    color: #ffffff;
    font-family: 'Baloo 2', cursive;
}

section.blue-index > div.formulario > h1 {
    font-size: 18px;
    margin-bottom: 10px;
}

section.blue-index > div.formulario > p {
    font-size: 12px;
    /* margin-top: 10px;
    margin-bottom: 10px; */
}

section.blue-index > div.formulario > form {
    background-color: #ffffff;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    z-index: 5;
    margin-top: 10px;
}

section.blue-index > div.formulario > form > div.input-name > input {
    border: solid 1px #c4c4c4;
    border-radius: 5px;
    font-family: 'Baloo 2', cursive;
    font-size: 10px;
    width: 180px;
    margin: 15px 5px 5px 5px;
}

section.blue-index > div.formulario > form > div.input-email > input {
    border: solid 1px #1a5163;
    border-radius: 5px;
    font-family: 'Baloo 2', cursive;
    font-size: 10px;
    width: 180px;
    margin: 5px;
}

section.blue-index > div.formulario > form > div.msg > textarea {
    border: solid 1px #c4c4c4;
    border-radius: 5px;
    font-family: 'Baloo 2', cursive;
    font-size: 10px;
    width: 180px;
    margin: 5px;
    resize: vertical;
}

input {
    padding-left: 5px;
}
textarea {
    padding-left: 5px;
    padding-top: 5px;
}

section.blue-index > div.formulario > form > div.submit {
    padding-bottom: 5px;
}

section.blue-index > div.formulario > form > div.submit > button {
    background-color: #fc9685;
    font-family: 'Baloo 2', cursive;
    font-size: 10px;
    color: #ffffff;
    font-weight: bold;
    width: 50px;
    height: 20px;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-left: 125px;
    cursor: pointer;
}

section.blue-index > div.formulario > form > div.submit > button:hover {
    background-color: #fc745f;
    transition: background-color 0.30s;
}



/* 
------------------------------------------------------
MAIN - STYLES
------------------------------------------------------
*/

main.contact-content > section {
    margin-top: 270px;
    margin-left: 20px;
    margin-bottom: 70px;
}

main.contact-content > section > div {
    display: flex;
    margin-right: 10px;
    margin-bottom: 15px;
}

main.contact-content > section > div > img {
    width: 13px;
}

main.contact-content > section > div > p {
    font-size: 9px;
    color: #1a5163;
    font-family: 'Baloo 2', cursive
}

/* 
------------------------------------------------------
FOOTER - STYLES
------------------------------------------------------
*/

footer > div {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin: 7px 0 7px 4%;
    font-size: 6px;
    color: #1a5163;
}

footer > div.stroke {
    background-color: #1a5163;
    height: 0.5px;
    width: 95vw;
    margin: auto;
}

footer > div > nav {
    flex-grow: 1;
}

footer > div > nav > h3, ul {
    font-family: 'Baloo 2', cursive;
}

footer > div > nav > h3 {
    font-weight: bold;
}

footer > div > nav > ul {
    list-style: none;
}

footer > div > nav > ul > li > a {
    color: #1a5163;

}

footer > div > nav > ul > li > a:hover {
    font-weight: bold;
}

footer > div.bottom-footer {
    display: flex;
    justify-content: center;
    margin-top: 7px;
}

footer > div.bottom-footer > div.footer-logo > img {
    width: 12px;
}

footer > div.bottom-footer > span {
    font-family: 'Baloo 2', cursive;
    font-size: 10px;
    font-weight: bold;
    margin-right: 7px;
}

footer > div.bottom-footer > p {
    font-size: 6px;
    color: #1a5163;
}








/* *************************************
RESPONSIVIDADES
************************************* */

/* 
RESPONSIVIDADE - 280px a 375px - MOBILE S
*/

@media (min-width: 280px) {
    footer > div {
        font-size: 8px;
    }
}

/*
RESPONSIVIDADE - 376px a 650px - MOBILE L
*/

@media (min-width: 376px) {
    header {
        height: 60px;
    }

    header > nav.logo {
        font-size: 12px;
    }
    
    header > nav.logo > a > img {
        width: 30px;
    }

    section.blue-index {
        height: 270px;
    }

    section.blue-index > div.formulario {
        padding-top: 70px;
    }

    section.blue-index > div.formulario > h1 {
        font-size: 22px;
    }

    section.blue-index > div.formulario > p {
        font-size: 13px;
        /* margin-top: 11px;
        margin-bottom: 11px; */
    }

    section.blue-index > div.formulario > form {
        width: 240px;
        margin-top: 20px;
    }

    section.blue-index > div.formulario > form > div.input-name > input {
        font-size: 12px;
        width: 220px;
        height: 30px;
        margin: 15px 5px 5px 5px;
    }
    
    section.blue-index > div.formulario > form > div.input-email > input {
        font-size: 12px;
        width: 220px;
        height: 30px;
        margin: 7px;
    }

    section.blue-index > div.formulario > form > div.msg > textarea {
        font-size: 12px;
        width: 220px;
        margin: 7px;
    }

    section.blue-index > div.formulario > form > div.submit > button {
        font-size: 12px;
        width: 55px;
        height: 22px;
        /* margin-bottom: 5px; */
        margin-left: 160px;
    }

    main.contact-content > section {
        margin-top: 290px;
    }

    main.contact-content > section > div > img {
        width: 15px;
    }

    main.contact-content > section > div > p {
        font-size: 11px;
    }

    footer > div {
        font-size: 11px;
    }

    footer > div.bottom-footer > div.footer-logo > img {
        width: 17px;
    }

    footer > div.bottom-footer > span {
        font-size: 11px;
    }
}

/* 
RESPONSIVIDADE - 650px a 768px - MOBILE L/TABLET
*/

@media (min-width: 650px) {
    header {
        height: 65px;
        justify-content: center;
    }

    header > img {
        display: none;
    }

    header > nav.logo {
        font-size: 15px;
        flex-grow: 1;
    }
    
    header > nav.logo > a > img {
        width: 35px;
    }

    header > nav.main-menu, nav.login {
        display: flex;
        /* justify-content: center; */
    }
    
    header > nav.main-menu {
        justify-content: space-around;
        font-size: 12px;
        flex-grow: 2;
    }
    
    header > nav.main-menu > a {
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
    }

    header > nav.login {
        justify-content: flex-end;
        align-items: center;
        margin-right: 20px;
        flex-grow: 1;
    }

    header > nav.login > a {
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        color: #fc9685;
    }

    header > nav.login > a:hover {
        color: #fc745f;
        transition: color 0.30s;
    }
    
    header > nav.login > button {
        height: 30px;
        width: 110px;
        border-radius: 5px;
        background-color: #fc9685;
        margin-left: 10px;
    }

    header > nav.login > button:hover {
        background-color: #fc745f;
        transition: background-color 0.30s;
    }

    header > nav.login > button > a {
        font-family: 'Roboto', sans-serif;
        color: #ffffff;
        font-size: 12px;
        font-weight: bold;
        
    }

    section.blue-index {
        display: flex;
        justify-content: center;
        height: 300px;
    }

    section.blue-index > div.formulario {
        flex-grow: 1;
    }
    
    section.blue-index > div.dog-contact {
        display: flex;
        flex-grow: 2;
    }
    
    section.blue-index > div.dog-contact > img {
        flex-grow: 2;
        position: relative;
        top: 100px;
        height: 470px;
        /* margin-right: 50px; */
    }
    
    section.blue-index > div.formulario {
        padding-top: 320px;
    }

    section.blue-index > div.formulario > h1 {
        font-size: 26px;
    }

    section.blue-index > div.formulario > p {
        font-size: 16px;
        /* margin-top: 14px;
        margin-bottom: 14px; */
    }

    
    main.contact-content > section > div {
        margin-left: 50px;
    }
    
    main.contact-content > section > div > img {
        width: 18px;
    }
    
    main.contact-content > section > div > p {
        font-size: 13px;
    }
    
    footer > div {
        font-size: 16px;
        margin: 7px 0 7px 10%;
    }

    footer > div.bottom-footer > div.footer-logo > img {
        width: 20px;
    }

    footer > div.bottom-footer > span {
        font-size: 16px;
    }

    footer > div.bottom-footer > p {
        font-size: 10px;
    }
}

/* 
RESPONSIVIDADE - 769px a 1024px - Desktop HD
*/

@media (min-width: 769px) {
    header {
        height: 75px;
    }

    header > nav.logo {
        font-size: 18px;
    }

    header > nav.logo > a > img {
        width: 40px;
    }

    header > nav.main-menu {
        font-size: 15px;
    }

    header > nav.login > a {
        font-size: 15px;
    }

    header > nav.login > button {
        height: 35px;
        width: 115px;
    }

    header > nav.login > button > a {
        font-size: 15px;
    }

    section.blue-index {
        height: 360px;
    }

    section.blue-index > div.formulario {
        padding-top: 380px;

    }

    section.blue-index > div.formulario > h1 {
        font-size: 32px;
    }

    section.blue-index > div.formulario > p {
        font-size: 22px;
        /* margin-top: 14px;
        margin-bottom: 14px; */
    }

    section.blue-index > div.formulario > form {
        width: 330px;
    }

    section.blue-index > div.formulario > form > div.input-name > input {
        font-size: 14px;
        width: 310px;
        height: 40px;
        margin: 20px 5px 7px 5px;
    }
    
    section.blue-index > div.formulario > form > div.input-email > input {
        font-size: 14px;
        width: 310px;
        height: 40px;
        margin: 9px;
    }

    section.blue-index > div.formulario > form > div.msg > textarea {
        font-size: 14px;
        width: 310px;
        margin: 9px;
    }

    section.blue-index > div.formulario > form > div.submit > button {
        font-size: 15px;
        width: 67px;
        height: 30px;
        /* margin-bottom: 5px; */
        margin-left: 240px;
    }

    section.blue-index > div.dog-contact > img {
        top: 100px;
        height: 580px;
        /* margin-right: 50px; */
    }

    main.contact-content > section {
        margin-top: 390px;
    }

    main.contact-content > section > div {
        margin-left: 70px;
    }
    
    main.contact-content > section > div > img {
        width: 21px;
    }
    
    main.contact-content > section > div > p {
        font-size: 15px;
    }

}