<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="./stylesheets/account.css">
    <link rel="stylesheet" href="./stylesheets/global.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="./javascripts/script.js" defer></script>
</head>

<body>
    <%- include('./partials/header') %>

        <section class="main">
            <div class="form">
                <h1>Meus Dados</h1>
                <form class="mb-3" id="account-form">
                    <div class="row col-sm-12">
                        <div class="col-sm-12">
                            <label for="nome">Nome Completo:</label>
                            <input type="text" name="nome" id="nome" data-min-length="2" required>
                        </div>
                    </div>

                    <div class="row col-sm-12 justify-content-between">
                        <div class="col-sm-4">
                            <label for="email">Email:</label>
                            <input type="email" name="email" id="email" required>
                        </div>

                        <div class="col-sm-4">
                            <label for="password">Senha:</label>
                            <input type="password" name="password" id="password" required>
                        </div>

                        <div class="col-sm-4">
                            <label for="cpf">CPF:</label>
                            <input type="text" name="cpf" id="cpf" required>
                        </div>
                    </div>

                    <div class="row col-sm-12 justify-content-between">
                        <div class="col-sm-3">
                            <label for="data">Data de Nascimento:</label>
                            <input type="date" name="data" id="data" required>
                        </div>

                        <div class="col-sm-6">
                            <label for="celular">Celular:</label>
                            <input type="text" name="celular" id="celular" required>
                        </div>

                        <div class="col-sm-3">
                            <label for="cep">CEP:</label>
                            <input type="text" name="cep" id="cep" required>
                        </div>
                    </div>

                    <div class="row col-sm-12 justify-content-between">
                        <div class="col-sm-5">
                            <label for="rua">Endereço:</label>
                            <input type="text" name="rua" id="rua" required>
                        </div>

                        <div class="col-sm-2">
                            <label for="numero">Número:</label>
                            <input type="text" name="numero" id="numero" required>
                        </div>

                        <div class="col-sm-2">
                            <label for="complemento">Complemento:</label>
                            <input type="text" name="complemento" id="complemento" required>
                        </div>

                        <div class="col-sm-3">
                            <label for="bairro">Bairro:</label>
                            <input type="text" name="bairro" id="bairro" required>
                        </div>
                    </div>

                    <div class="row col-sm-12 justify-content-between">
                        <div class="col-sm-4">
                            <label for="cidade">Cidade:</label>
                            <input type="text" name="cidade" id="cidade" required>
                        </div>

                        <div class="col-sm-2">
                            <label for="UF">Estado:</label>
                            <select id="UF" name="UF">
                                <option value="">Selecione</option>
                                <option value="AC">Acre</option>
                                <option value="AL">Alagoas</option>
                                <option value="AP">Amapá</option>
                                <option value="AM">Amazonas</option>
                                <option value="BA">Bahia</option>
                                <option value="CE">Ceará</option>
                                <option value="DF">Distrito Federal</option>
                                <option value="ES">Espirito Santo</option>
                                <option value="GO">Goiás</option>
                                <option value="MA">Maranhão</option>
                                <option value="MS">Mato Grosso do Sul</option>
                                <option value="MT">Mato Grosso</option>
                                <option value="MG">Minas Gerais</option>
                                <option value="PA">Pará</option>
                                <option value="PB">Paraíba</option>
                                <option value="PR">Paraná</option>
                                <option value="PE">Pernambuco</option>
                                <option value="PI">Piauí</option>
                                <option value="RJ">Rio de Janeiro</option>
                                <option value="RN">Rio Grande do Norte</option>
                                <option value="RS">Rio Grande do Sul</option>
                                <option value="RO">Rondônia</option>
                                <option value="RR">Roraima</option>
                                <option value="SC">Santa Catarina</option>
                                <option value="SP">São Paulo</option>
                                <option value="SE">Sergipe</option>
                                <option value="TO">Tocantins</option>
                            </select>
                        </div>

                        <div class="col-sm-6">
                            <label for="local">Tipo de Residência:</label>
                            <input type="text" name="local" id="local" required placeholder="Ex: Casa, apartamento, chácara">
                        </div>
                    </div>

                    <div class="row col-sm-12">
                        <div class="col-sm-2">
                            <label for="profissao">Profissão:</label>
                            <input type="text" name="profissao" id="profissao" required>
                        </div>

                        <div class="col-sm-3">
                            <label for="alergia">Possui alguma alergia ?</label>
                            <input type="text" name="alergia" id="alergia" required placeholder="Ex: Sim, alergia a pelo de gato">
                        </div>

                        <div class="col-sm-4">
                            <label for="crianca">Há crianças em sua residência? Quantas?</label>
                            <input type="text" name="crianca" id="crianca" required placeholder="Ex: Sim, duas">
                        </div>

                        <div class="col-sm-3">
                            <label for="pet">Possui outros pets em casa? Quais?</label>
                            <input type="text" name="pet" id="pet" required placeholder="Ex: Sim, dois cachorros">
                        </div>
                    </div>
                    
                    <input class="col-sm-2 mb-4 mt-3" type="submit" name="btn-submit" value="Atualizar">
                </form>
                <h1 class="pets">Dados do(s) meu(s) bichinho(s)</h1>
                <form id="pets-form">
                    <div class="row col-sm-12">
                        <div class="col-sm-4">
                            <label for="nome_pet">Nome:</label>
                            <input type="text" name="nome_pet" id="nome_pet" required>
                        </div>

                        <div class="col-sm-3">
                            <label for="tipo_pet">Tipo de pet:</label>
                            <input type="text" name="tipo_pet" id="tipo_pet" required>
                        </div>

                        <div class="col-sm-3">
                            <label for="raca_pet">Raça:</label>
                            <input type="text" name="raca_pet" id="raca_pet" required>
                        </div>

                        <div class="col-sm-2">
                            <label for="porte_pet">Porte:</label>
                            <input type="text" name="porte_pet" id="porte_pet" required>
                        </div>
                    </div>

                    <div class="row col-sm-12">
                        <div class="col-sm-2">
                            <label for="cor_pet">Cor:</label>
                            <input type="text" name="cor_pet" id="cor_pet" required>
                        </div>

                        <div class="col-sm-3">
                            <label for="nascimento_pet">Data de Nascimento:</label>
                            <input type="date" name="nascimento_pet" id="nascimento_pet" required>
                        </div>

                        <div class="col-sm-2">
                            <label for="sexo_pet">Sexo:</label>
                            <input type="text" name="sexo_pet" id="sexo_pet" required>
                        </div>
                    </div>
                    <div class="row col-sm-12 justify-content-end">
                        <input class="col-sm-2 mb-4 mt-3" type="submit" name="btn-submit" value="Incluir outro Pet">
                    </div>
                </form>
            </div>
        </section>
        <%- include('./partials/footer') %>

</body>

</html>