<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--aqui vai o css da sua página, sem os estilos que estão no global-->
    <link rel="stylesheet" href="/stylesheets/global.css">
    <link rel="stylesheet" href="/stylesheets/comofunciona.css">
    <title>
        <%= title %>
    </title>
</head>

<body>

    <!--HEADER-->
    <%- include('./partials/header') %>

        <main class="container">
            <section class="como-funciona">
                <h1>Como funciona</h1>
                <div class="content">
                    <div class="image-passos">
                        <img src="/images/passos.svg">
                    </div>
                    <div class="text">
                        <div class="text-box">
                            <h5>Encontre o pet ideal para você</h5>
                            <p>Utilizando nossos filtros, selecione as características que você procura. </p>
                        </div>
                        <div class="text-box">
                            <h5>Leia atentamente a ficha do animal</h5>
                            <p>Veja as fotos e analise se o animal é compatível com o seu estilo de vida. </p>
                        </div>
                        <div>
                            <h5>Clique em “Adotar” e aguarde o contato da ONG. </h5>
                        </div>
                        <div>
                            <h5>Siga as instruções da ONG e dê muito amor e carinho ao seu novo pet.</h5>
                        </div>
                    </div>
                    <div class="image-dog">
                        <img src="/images/dog-comofunc.svg">
                    </div>
                </div>
            </section>
            <section class="saiba-mais">
                <h1>O que preciso para adotar?</h1>
                <h2>Adotar um patudo deve ser uma decisão ponderada, certificando-se que tem todas as condições
                    necessárias para proporcionar-lhe uma boa vida.

                </h2>
                <p>Cremos que adotar um animal doméstico é torná-lo um membro da nossa família e, consequentemente,
                    tratá-lo como tal.
                    Somos uma plataforma digital que tem como objetivo ajudar animais de estimação a encontrar um lar e
                    uma família, proporcionando um ambiente seguro, ético e transparente para o processo de adoção.
                    Temos como missão colaborar com associações, fornecendo uma estrutura que lhes permita divulgar de
                    forma fácil e estruturada todos os seus animais.
                    Consideramos que o processo de adoção de animais deverá ser um trabalho de equipa entre nós, a
                    entidade mediadora, e as associações ou entidades particulares que aderirem ao nosso site.</p>
            </section>
        </main>


        <!--FOOTER-->
        <%- include('./partials/footer') %>

</body>

</html>