<!DOCTYPE html>
<html lang="pt-br">
<head>

    <link rel="stylesheet" href="./stylesheets/contact.css">
    <link rel="stylesheet" href="./stylesheets/fonts/fonts.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <title><%= title %></title>
</head>

<body>

    <!-- HEADER -->
    <header>
        
        <nav class="logo">
            <a href="">
                <img src="./images/pata-logo.svg" alt="logo">
            </a>
            <h2>PetAmigo</h2>
        </nav>

        <nav class="main-menu">
            <a href="#">Início</a>
            <a href="#">Nossos Serviços</a>
            <a href="#">Sobre Nós</a>
            <a href="#" class="active">Contato</a>
        </nav>

        <nav class="login">
            <a href="">ENTRAR</a>
            <button type="button">
                <a href="">CADASTRE-SE</a>
            </button>
        </nav>

        <img src="./images/ham-menu.svg" alt="">
        
    </header>

    <!-- PARTE AZUL PADRÃO EM TODAS AS PÁGINAS -->
    <section class="blue-index">

        <!-- desktop flex 1 -->
        <div class="formulario">
            <h1>Entre em contato</h1>

            
            <p>Lorem Ipsum é simplesmente uma simulação </p> 
            <p>de texto da indústria</p>
            <p>tipográfica e de impressos</p>

            
            <form action="">
                <!-- form flex 1 -->
                <div class="input-name">
                    <input type="text" name="seu-nome" placeholder="Seu nome">
                </div>

                <!-- form flex 2 -->
                <div class="input-email">
                    <input type="text" name="seu-email" placeholder="Seu email">
                </div>

                <!-- form flex 3 -->
                <div class="msg">
                    <textarea name="mensagem" id="mensagem" cols="30" rows="10" style="resize: none" placeholder="Escreva sua mensagem"></textarea>
                    <!-- <input type="text" name="mensagem" placeholder="Escreva sua mensagem"> -->
                </div>
                
                <!-- form flex 4 -->
                <div class="submit">
                    <button type="submit">Enviar</button>
                </div>

            </form>

        </div>

        <!-- desktop flex 2 -->
        <div class="dog-contact">
            <img src="./images/contact/dog-contact.svg" alt="">
        </div>


    </section>

    <!-- CONTEÚDO -->
    <main class="contact-content">

        <section>

            <div>
                <img src="./images/contact/phone-vector.svg" alt="">
                <p>+55 (11) 4444-4444</p>
            </div>
    
            <div>
                <img src="./images/contact/mail-vector.svg" alt="">
                <p>info@petamigo.com.br</p>
            </div>
    
            <div>
                <img src="./images/contact/place-vector.svg" alt="">
                <p>Av. Domingos Odália Filho, 301 - Centro, Osasco - SP, 06010-067, Brasil</p>
            </div>
    
        </section>

    </main>

    <!-- FOOTER -->
    <footer>

        <div>
            <nav>
                <h3>Veja mais</h3>
                <ul>
                    <li><a href="">Como funciona</a></li>
                    <li><a href="">FAQ para adoção de Pet</a></li>
                    <li><a href="">Política de devoluções</a></li>
                </ul>
            </nav>
            
            <nav>
                <h3>Tudo sobre a PetAmigo</h3>
                <ul>
                    <li><a href="">Nossa história</a></li>
                    <li><a href="">Ajuda</a></li>
                    <li><a href="">Métodos de pagamento</a></li>
                </ul>
            </nav>
            
            <nav>
                <h3>Conecte-se conosco</h3>
                <ul>
                    <li><a href="">Facebook</a></li>
                    <li><a href="">Twitter</a></li>
                    <li><a href="">Instagram</a></li>
                </ul>
            </nav>
        </div>

        <!-- linha de separação -->
        <div class="stroke"></div>

        <div class="bottom-footer">

            <!-- bottom-footer flex 1 -->
            <div class="footer-logo">
                <img src="./images/pata-logo.svg" alt="">
            </div>

            <!-- bottom-footer flex 2 -->
            <span>PetAmigo</span>

            <!-- bottom-footer flex 3 -->
            <p>Copyright 2021. Todos os direitos sao reservados. Termos e Condicoes e Privacidade & Politica de cookies</p>
        
        </div>

    </footer>

    
</body>

</html>