<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/global.css">
    <link rel="stylesheet" href="./stylesheets/contact.css">

    <title><%= title %></title>

</head>

<body>

    <!-- HEADER -->
    <%- include('./partials/header') %>
    
    <!-- PARTE AZUL PADRÃO EM TODAS AS PÁGINAS -->
    <section class="blue-index">

        <!-- desktop flex 1 -->
        <div class="formulario">
            <h1>Entre em contato</h1>

            
            <p>Lorem Ipsum é simplesmente uma simulação </p> 
            <p>de texto da indústria</p>
            <p>tipográfica e de impressos</p>

            
            <form action="">
                <!-- form flex 1 -->
                <div class="input-name">
                    <input type="text" name="seu-nome" placeholder="Seu nome">
                </div>

                <!-- form flex 2 -->
                <div class="input-email">
                    <input type="text" name="seu-email" placeholder="Seu email">
                </div>

                <!-- form flex 3 -->
                <div class="msg">
                    <textarea name="mensagem" id="mensagem" cols="30" rows="10" style="resize: none" placeholder="Escreva sua mensagem"></textarea>
                    <!-- <input type="text" name="mensagem" placeholder="Escreva sua mensagem"> -->
                </div>
                
                <!-- form flex 4 -->
                <div class="submit">
                    <button type="submit">Enviar</button>
                </div>

            </form>

        </div>

        <!-- desktop flex 2 -->
        <div class="dog-contact">
            <img src="./images/contact/dog-contact.svg" alt="">
        </div>


    </section>

    <!-- CONTEÚDO -->
    <main class="contact-content">

        <section>

            <div>
                <img src="./images/contact/phone-vector.svg" alt="">
                <p>+55 (11) 4444-4444</p>
            </div>
    
            <div>
                <img src="./images/contact/mail-vector.svg" alt="">
                <p>info@petamigo.com.br</p>
            </div>
    
            <div>
                <img src="./images/contact/place-vector.svg" alt="">
                <p>Av. Domingos Odália Filho, 301 - Centro, Osasco - SP, 06010-067, Brasil</p>
            </div>
    
        </section>

    </main>

    <!-- FOOTER -->
    <%- include('./partials/footer') %>
    <script src="./javascripts/header.js"></script>
    
</body>

</html>