<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--aqui vai o css da sua página, sem os estilos que estão no global-->
    <link rel="stylesheet" href="./stylesheets/global.css">
    <link rel="stylesheet" href="./stylesheets/politica.css">
    <title>
        <%= title %>
    </title>
</head>

<body>

    <!--HEADER-->
    <%- include('./partials/header') %>

        <main class="container">
            <div class="title">
                <h1>Perguntas frequentes - FAQs</h1>
                
                
            </div>
            <div class="text">
                <ul>    
                    <li>Como é que procuro um animal de estimação?
                    <br>
                    A PetAmigo é uma plataforma de adoção responsável de animais. Uma vez no catálogo, podes alternar entre cão e gato através do menu no canto superior esquerdo. Podes ainda navegar através do rodapé em todas as páginas da nossa plataforma.
                    <br></li><br>
                    <li>Como coloco um anúncio?
                    <br>
                    No canto superior direito da página inicial, clicando no ícone “+” serás redirecionado para a página onde poderás preencher todos os requisitos necessários para a publicação do teu anúncio.
                    <br></li><br>
                    <li>Como é que retiro um anúncio no site da PetAmigo?
                    <br>
                    O processo de remoção de um anúncio de adoção do site da PetAmigo é bastante simples e rápido. No canto superior direito da página inicial irás encontrar o ícone do teu perfil e, carregando no mesmo, tens a opção de visualizar os teus anúncios publicados. Para os retirar basta carregar no ícone do caixote do lixo.
                    <br></li><br>
                    <li>Como é que adoto um animal de estimação?
                    <br>
                    A PetAmigo é uma plataforma de adoção responsável de animais, focada em ajudar associações dando-lhes uma estrutura online que permite uma divulgação eficaz de todos os seus cães e gatos. Desta forma, não estamos envolvidos em nenhuma das adoções de animais dos nossos membros. Cada associação e particular que utiliza o nosso site tem a responsabilidade de colocar os seus termos e procedimentos de adoção. Para adotares um animal de estimação tens que contactar o respetivo anunciante, clicando no perfil do animal onde podes encontrar o email necessário para o contacto.
                    <br></li><br>
                    <li>Como saber se o animal de estimação ainda está disponível para adoção?
                    <br>
                    Cada associação e particular aderente ao site da PetAmigo é responsável por atualizar as listas de animais para adoção. Desta forma, para saberes mais sobre um determinado patudo, entra em contacto diretamente com o responsável através da página de perfil do animal de estimação, onde se encontra a informação necessária para o contacto.
                    <br></li><br>
                    <li>Porque é que são cobradas taxas de adoção?
                    <br>
                    Ao colocares um anúncio no site de adoção responsável da PetAmigo tens a opção de colocar as taxas de adoção discriminadas, consoante as despesas que já tiveste com o animal. As taxas de adoção ajudam a cobrir as despesas que o cuidador ou associação teve até à respetiva adoção, tais como despesas médico-veterinárias, de transporte ou de alimentação. No caso das associações de animais, as respetivas taxas são também um apoio para os animais que continuam na associação seguro e transparente.</li></ul>
            </div>
        </main>

        <!--FOOTER-->
        <%- include('./partials/footer') %>

</body>

</html>