<!DOCTYPE html>
<html lang="pt-br">
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./stylesheets/home.css">


    <title>PetAmigo</title>
</head>

<body>

    <!-- HEADER -->
    <header>
        
        <nav class="logo">
            <a href="">
                <img src="./images/pata-logo.svg" alt="logo">
            </a>
            <h2>PetAmigo</h2>
        </nav>

        <nav class="main-menu">
            <a href="#" class="active">Início</a>
            <a href="#">Nossos Serviços</a>
            <a href="#">Sobre Nós</a>
            <a href="#">Contato</a>
        </nav>

        <nav class="login">
            <a href="">ENTRAR</a>
            <button type="button">
                <a href="">CADASTRE-SE</a>
            </button>
        </nav>

        <img src="./images/ham-menu.svg" alt="">
        
    </header>
    
    <!-- PARTE AZUL PADRÃO EM TODAS AS PÁGINAS -->
    <section class="blue-index">

        <div class="title">
            <h1>PetAmigo</h1>
            <h2>Adote um pet para o seu lar!</h2>
            <p>Você pode encontrar um amigo para o seu </p>
            <p>Pet e fazer novas amizades.</p>
        </div>

        <div class="search">

            <!-- flex 1 -->
            <div class="pet">
                <form action="">

                    <!-- <label for="pet">Pet</label> -->

                    <select name="pet" id="pet">
                        <option value="blanck" selected disabled>
                            Pet
                        </option>
                        <option value="dog">Cachorros</option>
                        <option value="cat">Gatos</option>
                        <option value="fish">Peixes</option>
                        <option value="bird">Pássaros</option>
                    </select>

                </form>
            </div>

            <!-- flex 2 -->
            <div class="estado">
                <form action="">

                    <!-- <label for="estado">Estado</label> -->

                    <select name="estado" id="estado">
                        <option value="blanck" selected disabled>
                            Estado
                        </option>
                        <option value="AC">Acre</option>
                        <option value="AL">Alagoas</option>
                        <option value="AP">Amapá</option>
                        <option value="AM">Amazonas</option>
                        <option value="BA">Bahia</option>
                        <option value="CE">Ceará</option>
                        <option value="DF">Distrito Federal</option>
                        <option value="ES">Espírito Santo</option>
                        <option value="GO">Goiás</option>
                        <option value="MA">Maranhão</option>
                        <option value="MT">Mato Grosso</option>
                        <option value="MS">Mato Grosso do Sul</option>
                        <option value="MG">Minas Gerais</option>
                        <option value="PA">Pará</option>
                        <option value="PB">Paraíba</option>
                        <option value="PR">Paraná</option>
                        <option value="PE">Pernambuco</option>
                        <option value="PI">Piauí</option>
                        <option value="RJ">Rio de Janeiro</option>
                        <option value="RN">Rio Grande do Norte</option>
                        <option value="RS">Rio Grande do Sul</option>
                        <option value="RO">Rondônia</option>
                        <option value="RR">Roraima</option>
                        <option value="SC">Santa Catarina</option>
                        <option value="SP">São Paulo</option>
                        <option value="SE">Sergipe</option>
                        <option value="TO">Tocantins</option>
                    </select>

                </form>
            </div>

            <!-- flex 3 -->
            <div class="tamanho">
                <form action="">

                    <!-- <label for="tamanho">Tamanho</label> -->

                    <select name="tamanho" id="tamanho">
                        <option value="blanck" selected disabled>
                            Tamanho
                        </option>
                        <option value="peq">Pequeno</option>
                        <option value="med">Médio</option>
                        <option value="gra">Grande</option>
                    </select>

                </form>
            </div>
            
        </div>

    </section>

    <!-- CONTEÚDO -->
    <main class="index-content">
    

    </main>

    <!-- FOOTER -->
    <footer>


        <div class="footer-menu">
            <!-- flex 1 -->
            <nav>
                <h3>Veja mais</h3>
                <ul>
                    <li><a href="">Como funciona</a></li>
                    <li><a href="">FAQ para adoção de Pet</a></li>
                    <li><a href="">Política de devoluções</a></li>
                </ul>
            </nav>
            <!-- flex 2 -->
            <nav>
                <h3>Tudo sobre a PetAmigo</h3>
                <ul>
                    <li><a href="">Nossa história</a></li>
                    <li><a href="">Ajuda</a></li>
                    <li><a href="">Métodos de pagamento</a></li>
                </ul>
            </nav>
            <!-- flex 3 -->
            <nav>
                <h3>Conecte-se conosco</h3>
                <ul>
                    <li><a href="">Facebook</a></li>
                    <li><a href="">Twitter</a></li>
                    <li><a href="">Instagram</a></li>
                </ul>
            </nav>
        </div>
        

        <!-- linha de separação -->
        <div class="stroke"></div>
        

        <div class="bottom-footer">
            
            <!-- bottom-footer flex 1 -->
            <img src="./images/pata-logo.svg" alt="">

            <!-- bottom-footer flex 2 -->
            <span>PetAmigo</span>

            <!-- bottom-footer flex 3 -->
            <p>Copyright 2021. Todos os direitos reservados. Termos, Condicoes, Privacidade e Politicas de Cookies</p>
        
        </div>

        
    </footer>

</body>

</html>