<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--aqui vai o css da sua página, sem os estilos que estão no global-->
    <link rel="stylesheet" href="./stylesheets/global.css">
    <title><%= title %></title>
</head>
<body>

    <!--HEADER-->
    <%- include('./partials/header') %>

    <!--Aqui vai a section-blue, se necessário-->

    <!--Aqui vai o main da sua página-->

    <!--FOOTER-->
    <%- include('./partials/footer') %>

</body>
</html>