<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--aqui vai o css da sua página, sem os estilos que estão no global-->
    <link rel="stylesheet" href="./stylesheets/global.css">
    <link rel="stylesheet" href="./stylesheets/politica.css">
    <title>
        <%= title %>
    </title>
</head>

<body>

    <!--HEADER-->
    <%- include('./partials/header') %>

        <main class="container">
            <div class="title">
                <h1>Política de Desistência</h1>
            </div>
            <div class="text">
                <p>Caso se identifique com os objetivos da PetAmigo basta registar-se no nosso site. No entanto,no caso das associações, aconselhamos a uma pessoa ser responsável pelo contacto direto connosco.
                    O site da PetAmigo é um diretório de animais de estimação que precisam de um lar. Deste modo, cada associação ou membro particular que utiliza o nosso site tem a responsabilidade de colocar os seus termos e procedimentos de adoção.
                    Ainda que não tenhamos um papel direto na adoção de cada animal, acreditamos que este é um processo que requer bastante responsabilidade e ética. Portanto, tentamos usar o nosso papel como entidade mediadora de forma perspicaz de maneira a podermos proporcionar aos nossos utilizadores um processo de adoção seguro e transparente.</p>
            </div>
        </main>

        <!--FOOTER-->
        <%- include('./partials/footer') %>

</body>

</html>