<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/global.css">
    <title><%= title %></title>
</head>
<body>
    
    <!-- HEADER -->
    <%- include('./partials/header') %>


    <!-- Seu código aqui -->


    <!-- FOOTER -->
    <%- include('./partials/footer') %>
    <script src="/javascripts/header.js"></script>
</body>
</html>